{% extends 'base.html' %}

{% block title %} {{ movie.title }} {% endblock %}

{% block content %}

<h2>{{ movie.title }}</h2>

<ul>
    <li>
        Release date: {{ movie.released_at }}  
    </li>
    <li>
        <a href="{{ movie.imdb_url }}">IMDB Page</a>        
    </li>
</ul>

<p> Average rating: {{ average }} </p>

{% if "user_id" in session %}

    {% if user_rating %}

    <p>Your Rating: {{ user_rating.score }}</p>

    <h3>{{ beratement }}</h3>

    <p><a href="/update-rating?movie_id={{ movie.movie_id }}">Update your rating.</a></p>

    {% else %}

    <p>Predicted Rating: {{ prediction }}</p>

    <h3>{{ beratement }}</h3>

    <p><a href="/update-rating?movie_id={{ movie.movie_id }}">Click here to rate {{ movie.title }}.</a></p>

    {% endif %}

{% endif %}

{% endblock %}