{% extends 'base.html' %}

{% block title %} {{ movie.title }} {% endblock %}

{% block content %}

<h2>{{ movie.title }}</h2>

<ul>
    <li>
        Release date: {{ movie.released_at }}  
    </li>
    <li>
        <a href="{{ movie.imdb_url }}">IMDB Page</a>        
    </li>
</ul>

{% if "user_id" in session %}

    {% if user_rating %}

    <h3>Your Rating: {{ user_rating.score }}</h3>

    <p><a href="/update-rating?movie_id={{ movie.movie_id }}">Update your rating.</a></p>

    {% else %}

    <p><a href="/update-rating?movie_id={{ movie.movie_id }}">Click here to rate {{ movie.title }}.</a></p>

    {% endif %}

{% endif %}

<h3>Ratings from Clowns</h3>

<ul>
    {% for rating in ratings %}
    <li>
        {{ rating.user.email }} {{ rating.score }}
    </li>
    {% endfor %}
</ul>

{% endblock %}